<h2>Scan your beer</h2>

<form action="/beer/drink/{{user_barcode}}/" method="post">
  {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>

<a href="/beer/user/">Cancel</a>

<img src="/static/BACK.png"></img>

<script type="text/javascript">
    window.onload = function(){
          var text_input = document.getElementById ('id_barcode');
                text_input.focus ();
                        text_input.select ();
                                }
                                      </script>
